<ion-header>
  <ion-toolbar>
    <ion-title>
      <strong>SkeletonAPP</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SkeletonAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">


      <h1 class="main-title">SkeletonAPP</h1>
      <h6 class="subtitle">Aquí comienza todo</h6>
      <h3 class="welcome-message">Bienvenido!</h3>

    

      <div class="login-section">
        <ion-item>
          <ion-input label="Usuario" labelPlacement="floating" placeholder="usuario"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" type="password" placeholder="contraseña"></ion-input>
        </ion-item>
    
        <ion-button class="custom-button" color="white">Ingresar</ion-button>
      </div>

      <ion-text class="custom-link">
        <p>Crea tu cuenta gratis</p>
      </ion-text>

    
    

  </div>
</ion-content>